body {
	background-image: url("../images/background.jpg");
	font-family: 'Arial', Georgia, Helvetica Neue, sans-serif;
}

.wrapper {
	background-color: #f0f8ff;
	color: black;
	font-size: 18px;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 30px;
	margin-top: 200px;
}

h1, h2, h3 {
	text-align: center;
}

